<h1 class="welcome">About</h1>

<section>
    <h3 class="link-header">Lab Tech Finder</h3>
    <p>
        Lab Tech Finder is a social app to find a lab technician with a specific skill-set.
        
        
    </p>
    <p>
        Sometimes during a project, you unexpectedly required to implement or use a new or an obscure piece of technology. More often than not, you will need some form of guidance. Optimising a protocol is <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4582800/" style="color: blue;">not cheap</a> and very time consuming! Be honest, you must have at least thrown away a few SDS-PAGE gels because either the concentration is too high or it did not set properly!
    </p>
    <p>

    </p>
    <p>
        This is where Lab Tech Finder comes in! This app allows user to search fellow researchers based on their skills, as well as their lab's expertise! (lab field of study and publication feature will be added at later version). The app is designed with instituion-level scope in-mind. That means there is a subdivision of functionality for each user, depending on your account level. More details below:
    </p>
    <img src="./images/LTF Access Chart.jpg" alt="" class="access-chart">
    <p>
        Both the server and database are hosted on render on a free-account. Anyone can register a new lab and will then have full access to that lab.
    </p>

    <h3 class="link-header">Upcoming Features</h3>
    <p>
        <ul>
            <li class="web-link">1 Account per-email limit</li>
            <li class="web-link">Alert for new messages</li>
            <li class="web-link">Image cloud hosting for your profile picture needs</li>
            <li class="web-link">Reactive styling on mobile devices</li>
        </ul>
    </p>
    <h3 class="link-header">Upcoming Features</h3>
    <p>
        Developed by Stefanus Lie.
    </p>
    <p>
        Developed within 3 days as the second project at
    </p>
    <a href="https://generalassemb.ly/locations/sydney" style="color: blue;">General Assembly Sydney</a>
    <p>
        Check out my <a href="https://github.com/Amingman/LabTechFinder" style="color: blue;">github</a> for more information and cool projects!
    </p>

    
</section>