<!-- <section> -->
    <!-- <img src="../images/doesnotexist/female1.webp" alt=""> -->
<h1 class="welcome">Welcome to Lab Tech Finders</h1>
<h2 class="news" style="font-size: 1.7em;">Latest News</h2>
<section class="news-card">
    <h2>Remains of Roman aristocrat unearthed in ‘extraordinary’ cemetery near Leeds</h2>
    <h3 style="font-weight: normal;">theguardian (2023-03-13)</h3>
    <p>By: Josh Halliday North of England correspondent</p>
    <img src="https://i.guim.co.uk/img/media/f3560a4610aafbc4682060ff49430a2c5a369d26/0_238_961_576/master/961.jpg?width=460&quality=85&auto=format&fit=max&s=a45e176864620de36a223a1af08928f5" alt="">
    <p>Archaeologists hail ‘once in a lifetime’ discovery of Roman and Saxon site dating back 1,600 yearsSkeletal remains of a Roman aristocrat have been unearthed in a “truly extraordinary” hidden cemetery dating back 1,600 years.Bones belonging to the high-status woman were discovered in an ancient lead coffin during a dig in the town of Garforth, near Leeds.</p>
    <a href="https://www.theguardian.com/uk-news/2023/mar/13/remains-roman-aristocrat-extraordinary-cemetery-leeds">Continue reading...</a>

</section>

<!-- </section> -->
<div>2</div>
<div>2</div>
<div>2</div>
<div>2</div>
<div>2</div>
<div>2</div>
