<h1 class="welcome">Register Your Lab</h1>


<form action="/lab" class="form" style="padding: 10px;" method="post" id="register">
    <h3 style="">Laboratory Information</h3>
    <section>
        <p>Laboratory Name</p>
        <input type="text" name="labName" required="required" placeholder="e.g. Lorem Mechatronics and Rocketry">
    </section>
    <section>
        <p>Laboratory email address</p>
        <input type="text" name="labEmail" required="required" placeholder="e.g. lmr@sciency.com">
    </section>
    <section>
        <p>Laboratory description</p>
        <textarea name="text" cols="40" rows="5" required form="register" placeholder="e.g. I am attempting to harness the innate energy of stabilized vibrational resonance, bonded on a quantum level with domains of alternating opposite direction within the context of highlighting spatial harmony within the reality matrix.

Focusing on a single point in space-time can lead to an understanding of cyclic harmonic repitition, in sympathetic resonance with a higher order harmonic series within the context of highlighting spiritual entrainment between sentient beings. 

When engaged on an unconscious level, within the depths of your innermost psyche, you can easily tap into hyperbolic sub-resonant variations, interwoven on a molecular level with total holistic resonant emanations manifesting continuous interaction with the Godess."></textarea>

        <!-- <input type="text" name="text" required="required" placeholder="" style="height: 50px;"> -->
    </section>

    <h3 style="margin-top: 1em;">Principal Investigator Information</h3>
    <section class="metrics">
        <div>
            <p>Name</p>
            <input type="text" name="piName" required="required" placeholder="e.g. John Doe">
        </div>
        <div>
            <p>Email address</p>
            <input type="email" name="piEmail" required="required" placeholder="e.g. johndoe@sciency.com">
        </div>
        <div>
            <p>Headshot photo url</p>
            <input type="url" name="piImage" required="required" placeholder="e.g. ../images/doesnotexist/male7.jpeg">
        </div>
        <div>
            <p>Password</p>
            <input id="pass1" type="password" name="piPass" required="required" placeholder="e.g. banana">
        </div>
        <div>
            <p>Confirm password</p>
            <input id="pass2" type="password" required="required" placeholder="e.g. banana">
        </div>
    </section>
    <input type="checkbox" required="required" style="display: inline-block;"><p style="display: inline-block; width: 90%; padding-top: 15px;">I have reviewed the information provided.</p>
    <button id="lab_submit" class="button">Submit</button>
</form>

<script src="/dom_script.js"></script>