<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <header>
        <img src="/images/Logo_head.png" alt="">
        <div>
            <button><a href="/session/login">Log in</a></button>
            <button><a href="/lab/new">Sign up</a></button>
        </div>
    </header>
        <section class="main-wrapper">
            <nav>
                <li><a href="/"><h1>Home Page</h1></a></li>
                <li><a href="/lab">Find a lab</a></li>
                <li><a href="/user">Find a scientist</a></li>
                <li><a href="/links">Useful Links</a></li>
                <li><a href="/about">About</a></li>
            </nav>
            <section class="content">

                <%- body %>
            </section>        
                
        </section>

    <footer>
        <p>&copy;&nbsp;Stefanus Lie (2023)</p>
    </footer>
</body>
</html>