<h1 class="welcome">Useful Links</h1>

<h3 class="link-header">Database</h3>
<ul>
    <li class="web-link"><a href="https://portal.gdc.cancer.gov/">Genomic Data Commons</a></li>
    <li class="web-link"><a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi">BLAST: Basic Local Alignment Search Tool</a></li>
    <li class="web-link"><a href="https://www.genome.gov/human-genome-project">The Human Genome Project</a></li>
</ul>


<h3 class="link-header">Publications and Managers</h3>
<ul>
    <li class="web-link"><a href="https://pubmed.ncbi.nlm.nih.gov/">Advanced publication search engine: PubMed</a></li>
    <li class="web-link"><a href="https://sci-hub.se/">Free papers: Sci-hub</a></li>
    <li class="web-link"><a href="https://endnote.com/">Publication manager: Endnote</a></li>
</ul>

<h3 class="link-header">Analysis Tools</h3>
<ul>
    <li class="web-link"><a href="https://cran.r-project.org/">r-library repository</a></li>
    <li class="web-link"><a href="https://github.com/tidyverse/ggplot2">ggplot2: r-based data visualisation tool</a></li>
    <li class="web-link"><a href="https://github.com/rstudio/DT">DT: Interface for Data Tables</a></li>
</ul>