@font-face {
    font-family: roboto-medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

html {
    min-height: 100vh;
}

*{
    /* border: 1px solid red; */
    font-family: roboto-medium;
}

body {
    /* background-color: blue; */
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100vh;
}


header {
    /* max-width: 1500px; */
    position: fixed;
    top: 0px;
    background-color: #4d75a4;
    width: 100vw;
    height: 150px;
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-content: space-between;
    padding: 0;
    z-index: 1;
    /* margin: auto; */
    /* border-bottom: 3px solid black; */
}

header img {
    height: 150px;
    margin: auto;
    /* padding: 10px; */
}

header div {
    /* margin-right: 0;     */
    /* margin: auto; */
    display: grid;
    align-content: center;
    justify-content: end;
    /* text-align: right; */
    gap: 1em;
}

header button {
    /* height: 70%; */
    align-content: end;
    justify-content: end;
    margin-right: 2em;
    font-size: 1em;
    aspect-ratio: 5/3;
    border-radius: 10px;
}

.main-wrapper {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vw;
    display: grid;
    align-content: center;
    text-align: center;
    grid-template-columns: auto 1fr;
    margin-top: 150px;
    gap: 0.5em;
    padding-bottom: 10vh;
}

nav {
    /* position: fixed; */
    text-align: left;
    display: grid;
    padding: 5px;
    list-style: none;
    align-items: center;
    gap: 0.5em;
    align-content: start;
    border-left: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
    border-radius: 5px;
    box-shadow: -7px 7px 10px 1px lightsteelblue;
    min-width: 150px;
    width: 10vw;
    height: fit-content;
}

li {
    min-width: 150px;
    width: 10vw;
    font-size: 1.2em;
    margin: auto;
    margin-left: 0px;
}

a {
    color: black;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}

.accounts {
    text-align: left;
    display: grid;
    padding: 5px;
    list-style: none;
    align-items: center;
    gap: 0.5em;
    align-content: start;
    border-left: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
    border-radius: 5px;
    box-shadow: -7px 7px 10px 1px lightsteelblue;
    min-width: 150px;
    width: 10vw;
    height: fit-content;
    margin-top: 1em;

}


.content {
    padding: 10px;
    text-align: left;
    padding-left: 2vw;
    /* display: grid; */
    /* margin: 0; */
    /* margin-left: 200px; */
}

.welcome {
    font-size: 2.5em;
    margin-bottom: 1em;
    text-align: center;
}

.news-card {
    margin-top: 1em;
    padding: 10px;
    border: 2px solid steelblue;
    border-radius: 10px;
    max-width: 1300px;
    margin-bottom: 1em;
}

.news-title {
    /* background-color: #4d76a4ba; */
    border-radius: 10px;
    padding: 10px;
    /* margin-bottom: 10px; */
}

.source {
    padding: 10px;
    padding-bottom: 0px;
    font-weight: normal;

}

.author {
    padding: 10px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.news-image-wrapper {
    display: grid;
    overflow: hidden;
}

.news-image-wrapper img {
    display: grid;
    position: relative;
    /* top:-25%; */
    width: 100%;
    overflow: hidden;
    grid-gap:0px;
    object-fit: cover;
    height: 100%;
    padding: 10px;
    z-index: -1;
}

article {
    padding: 10px;
}

.continue {
    display: grid;
    padding: 10px;
    text-align: right;
    color: blue;
}

footer {
    /* top: -100%; */
    background-color: #4d75a4;
    width: 100vw;
    display: grid;
    align-items: center;
    padding-left: 2vw;
    color: white;
    margin-top: 2em;
    position: absolute;
    bottom: 0;
    /* grid-template-columns: max-content 1fr;
    justify-content: space-between; */
}


.search-entry {
    margin-top: 1em;
    margin-bottom: 1em;
    width: fit-content;
}

.search-box {
    /* display: grid; */
    min-width: 150px;
    max-width: 500px;
    width: 50vw;
    margin-top: 10px;
    margin-bottom: 1em;
    font-size: 1.2em;
}

.search-button {
    font-size: 1.2em;
    margin-left: 10px;
}

.icon-colour {
    color: #4d75a4;
}

.about-lab {
    display: inline-block;
    grid-template-columns: 1fr max-content;
    /* justify-content: space-between; */
}


.desc-title {
    display: grid;
    padding: 5px;
    text-align: left;
    margin-left: 0px;
}

.desc-blurb {
    display: grid;
    justify-content: space-between;
    gap: 1em;
}

.lab-desc {
    font-size: 1.2em;
    padding: 5px;
    margin-bottom: 1em;
}

.pi-card {
    position: relative;
    display: grid;
    justify-content: end;
}

.flip-outer {
    perspective: 1000px;
    float: right;
}

.flip-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    perspective: 1000px;

}

.flip-outer:hover .flip-inner {
    transform: rotateY(180deg);
}




.flip-front, .flip-back {
    position: relative;
    width: 100%;
    height: 100%;
  
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; 

    display: grid;
    overflow: hidden;
}


.flip-back {
    top: 0px;
    position: absolute;
    transform: rotateY(180deg);
    background-color: #4d75a4;
    justify-content: center;
    align-items: center;
    display: grid;
}

.flip-back a {
    color: white;
    text-align: center;
}

.pi-photo {
    display: flex;
    position: relative;

    width: 25vw;
    overflow: hidden;
    grid-gap:0px;
    object-fit: cover;
    height: 100%;
    padding: 10px;
    z-index: -1;
}

.big-name {
    font-size: 2em;
}


.title-card {
    display: grid;
    gap: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}


.lab-members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.member-photo {
    display: grid;
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
    overflow: hidden;
    grid-gap:0px;
    object-fit: cover;
    height: 100%;
    padding: 10px;
    z-index: -1;
}

.card-email {
    /* font-size: 1em; */
    font-size: 90%;
    padding: 5px;
    margin-bottom: 1em;
}

.biodata {
    display: grid;
    grid-template-columns: 3fr 2fr;
    font-size: 100%;
    justify-content: space-between;


}

.basic-info {
    display: grid;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    height: 100%;
    font-size: 1.5em;
}

.basic-info p {
    width: 100%;
    margin: 0px;
    /* margin-right: 0px; */
}

.basic-info p:nth-child(1) {
    font-size: 1.8em;
    margin-top: 0;
}

.lab-info {
    align-self: center;
}

.contacts {
    align-self: end;
}

article {
    padding-left: 0;
    padding-right: 0;

}

.career-info {
    margin-top: 2em;
    font-size: 1.2em;
}

.form input {
    width: 100%;
}

.form textarea {
    width: 100%;
}

.button {
    /* height: 70%; */
    margin: auto;
    align-content: center;
    font-size: 1em;
    aspect-ratio: 5/3;
    border-radius: 10px;
    text-align: center;
    margin-top: 1em;
    display: grid;
}

.register {
    /* display: grid; */
    text-align: left;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.delete {
    display: grid;
    justify-content: center;
    text-align: center;
}

.delete div {
    display: flex;
    justify-content: center;
}

.lab-control {
    position: relative;
    display: grid;
    gap: 1em;
    height: 10vh;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 5em;
}

.lab-control form {
    /* position: absolute; */
    margin: 0;
    height: inherit;
    display: grid;
    /* width: max-content; */
}

.lab-control button {
    margin: 0;
}

.update {
    display: grid;
    text-align: left;
    justify-content: start;
    margin: 0px;
}

.logout:hover {
    text-decoration: underline;
}

.login {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    justify-content: space-between;
    margin: auto;
    margin-top: 2em;
    gap: 1em;
}

.login h3 {
    display: grid;
    margin: 0px;
    /* margin-right: 0.5em; */
}

.login input {
    display: grid;
    min-width: 100px;
    max-width: 300px;
}



@media screen and (max-width: 500px) {
    header {
        height: 100px;
        width: 100%;
    }
    header img {
        height: 100px;
    }
    
    header button {
        font-size: 0.7em;
        margin-right: 0.5em;
    }
}